<div>
    <p>Hi <%= data.user.name %></p>
    <br>
    <br>
    <p>Your password reset link is <a href="http://52.66.244.7.nip.io:8000/resetpass/<%= data.accessToken %>">http://52.66.244.7.nip.io:8000/resetpass/<%= data.accessToken %></a> </p>
    <br>
    <br>
    <p>Thanks! <br>Team MernBook</p>
</div>