<div>
    <p>Hi <%= data.user.name %></p>
    <br>
    <br>
    <p>Your password reset link is <a href="http://localhost:8000/resetpass/<%= data.accessToken %>">http://localhost:8000/resetpass/<%= data.accessToken %></a> </p>
    <br>
    <br>
    <p>Thanks! <br>Team MernBook</p>
</div>