<div>
    <p>Hi <%= data.user.name %></p>
    <br>
    <br>
    <p>Your password reset link is <a href="https://mern--book.herokuapp.com/resetpass/<%= data.accessToken %>">https://mern--book.herokuapp.com/resetpass/<%= data.accessToken %></a> </p>
    <br>
    <br>
    <p>Thanks! <br>Team MernBook</p>
</div>