<% if (locals.user){ %>
	<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
	
	<div class="container-fluid" id="user-chat-box">
		<h2>Public Chat Box</h2>
		<ul id="chat-messages-list">
			<li class="other-message">
				<sub>sendermail@gmail.com</sub>
				<span>Received</span>
			</li>
			<li class="self-message">
				<sub>sendermail@gmail.com</sub>
				<span>Sent</span>
			</li>

		</ul>
		<!-- <div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button onclick='chatvar.send_message()' id="send-message">Send</button>
		</div> -->
		<form class="row align-items-center justify-content-center" id="chat-message-input-container" onsubmit="chatvar.send_message(event)">
			<input class="col-9" id="chat-message-input" placeholder="Type message here">
			<input class="col-2" type="submit" value="Send" id="send-message"/>
		</form>

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
	<script src="<%= assetPath('js/chat_engine.js') %>"></script>
	<script>
		let chatvar = new ChatEngine('user-chat-box', '<%= locals.user.email %>');
	</script>
<% } %>