<footer>
    <%
        let y = new Date().getFullYear();
    %>
    <div>MERN Book @ <%= y %></div>
        <div>
            <a href="https://www.linkedin.com/in/shubhamgoel24/" target="blank">Created By :- Shubham Goel <i class="fab fa-linkedin"></i></a>
        </div>
</footer>