<footer>
    <div>MERN Book @ 2021</div>
        <div>
            <a href="https://www.linkedin.com/in/shubhamgoel24/" target="blank">Created By :- Shubham Goel <i class="fab fa-linkedin"></i></a>
        </div>
</footer>