<header>
        <div><a href="/">MERN Book</a></div>
        <div>
            <% if(locals.user){ %>
                <a href="/users/profile"><%= user.name %></a>
                <a href="/users/sign-out">Sign Out</a> </li>
            <% }else{ %>
                <a href="/users/sign-in">Sign In</a>
                <a href="/users/sign-up">Sign Up</a>
            <% } %>
        </div>
        
</header>