<h1>MERN Book</h1>

<section id="feed-posts">
        <form action="/create-post" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Whats on your mind ?..." required></textarea>
                <input type= "submit" value="Post">
        </form>
</section>