<link rel="stylesheet" href="/css/user_profile.css">
      <h1>Codial Profile page <%= title%></h1>
      <p>Name : <%= user.name %></p>
      <p>Email : <%= user.email %></p>
      <button onclick="delcookie()">Sign Out</button>
<script src="/js/userprofile.js"></script>