#user-chat-box{
    background:rgba(255, 255, 255, 0.2);
	width:40vw;
	height: 42vh;
	display:inline-block;
	position:absolute;
	right:0px;
	top:50vh;

    #chat-messages-list{
    	list-style: none;
	    padding: 10px;
	    height: 70%;
	    overflow: auto;
		&::-webkit-scrollbar {
			display: none;
		}

	    .other-message{
		    text-align: left;
			background-color: #ffa0a0;
			margin-bottom: 5px;
			padding: 2px;
		    span{
		    	display: block;
				font-size: x-large;
		    }
			sub{
				text-decoration: underline;
				font-size: large;
				display: block;
				color: black;
				margin-bottom: 10px;
			}
	    }

	    .self-message{
		    text-align: right;
			background-color: #a0dcff;
			margin-bottom: 5px;
			padding: 2px;
		    span{
		    	display: block;
				font-size: x-large;
		    }
			sub{
				text-decoration: underline;
				font-size: large;
				display: block;
				color: black;
				margin-bottom: 10px;
			}
	    }
    }
    #chat-message-input-container{

		    #chat-message-input{
				border-radius: 15px;
		    }

		    #send-message{
			    color: white;
			    border: none;
				border-radius: 15px;
			    background-color: #58d258;
		    }
	    }
}
