#feed-posts{
    height: 88.5vh;
    width: 40vw;
    overflow-y: scroll;
    display: inline-block;
    margin: auto;
    background-color: antiquewhite;
}
body{
    margin-top: 6vh;
}
#feed-posts::-webkit-scrollbar {
    display: none;
  }

#user-friends{
    width: 30vw;
    display: inline-block;
    position: absolute;
    right: 5px;
}