<div>
    <p>Hi <%= comment.user.name %></p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> just got published on MernBook</p>
    <br>
    <br>
    <p>Thanks! <br>Team MernBook</p>
</div>